body{
    margin: 0;
    padding: 0;
    font-family: SansSerif, serif;
    font-size: large;

    background-image: url("background3.jpg");
    background-size: cover;
    text-align: center;
}
#rebTable{
    position: center;
    background-color: lightsteelblue;
    margin-left: 12.5%;
}
table, th,td {
    border: 1px solid grey;
}
table{
    width: 75%;
}
input[type=submit]{
    width: 20em;
    height: 5em;
}
#newForm{
    margin: 50px;
}
#goBack{
    margin: 50px;
}
